.button {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  width: 280px;
  height: 40px;
  background-color: @basic_green;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  .mxn-font-style(@baseFontSize; @baseLineHeight; @white);

  @media @tablet {
    width: 244px;
    height: 54px;
    padding: 15px 25px;
    .mxn-font-style(20px; @baseLineHeight-tablet; @white);
  }

  &:hover {
    background-color: @basic_green-2;
  }

  &:active {
    color: fade(white, 60%);
  }

  &--grey {
    background-color: @basic_grey;
    color: @special_dark-grey;

    &:hover {
      background-color: @special_grey-2;
    }

    &:active {
      color: fade(@special_dark-grey, 60%);
    }
  }
}
