.copyright {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  @media @tablet {
    justify-content: end;
  }

  &__text {
    .mxn-font-style(16px; 20px);
    font-family: Arial, Helvetica, sans-serif;
  }

  &__link {
    .mxn-link-style();
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media @tablet {
      justify-content: end;
      column-gap: 22px;
    }

    &:hover {
      stroke: @basic_green;
    }

    &:active {
      stroke: fade(@basic_green, 60%);
    }

    &:active .copyright__text {
      color: fade(@special_dark-grey, 60%);
    }
  }
}
