@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://mtrenkina.github.io/adaptive-layout/fonts/Oswald-Regular.woff2") format("woff2"),
    url("https://mtrenkina.github.io/adaptive-layout/fonts/Oswald-Regular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://mtrenkina.github.io/adaptive-layout/fonts/Oswald-SemiBold.woff2") format("woff2"),
    url("https://mtrenkina.github.io/adaptive-layout/fonts/Oswald-SemiBold.woff") format("woff");
}
