.page-header {
  display: flex;
  flex-direction: column;
  background-color: @white;
  color: @black;
  width: 100%;
}

.page-header__logo-mobile {
  margin-left: 55px;
  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    display: none;
    margin: 0;
  }
}
