.social-list {
  .mxn-list-style();
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  position: relative;

  @media @mobile-max {
    border-top: 1px solid @grey-border;
    border-bottom: 1px solid @grey-border;
  }

  @media @tablet {
    column-gap: 5px;
  }

  @media @desktop {
    column-gap: 5px;
  }

  &__image {
    &--vk {
      @media @tablet {
        width: 30px;
        height: 22px;
      }
    }

    &--ig {
      @media @tablet {
        width: 23px;
        height: 23px;
      }
    }

    &--fb {
      @media @tablet {
        width: 28px;
        height: 33px;
      }
    }
  }

  &__item a {
    padding: 10px;
    color: @icon_grey;
  }

  &__link:hover {
    color: @basic_green;
  }

  &__link:active {
    color: fade(@basic_green, 30%);
  }
}
