//Colors
@darkgrey: #444444;
@maingreen: #68b738;

//Viewports
@mobile-width-max: 767px;
@tablet-width: 768px;
@desktop-width: 1380px;

@import "../less/blocks/fonts.less";

@import "../less/blocks/global.less";

@import "../less/blocks/button.less";

@import "../less/blocks/page-header.less";

@import "../less/blocks/main-nav.less";
