//Colors
@basic_green: #68b738;
@basic_green-2: #5eaa2f;
@basic_grey: #f2f2f2;
@background-grey: #eaeaea;
@special_grey: #cdcdcd;
@special_grey-2: #ebebeb;
@scale_grey: #dcdcdc;
@special_dark-grey: #444444;
@special_dark-grey-2: #222222;
@grey-border: #d9d9d9;
@status_error: #ff8282;
@white: #ffffff;
@black: #000000;
@border_grey: #e6e6e6;
@plus-grey: #d3d3d3;

//Viewports
@mobile-width: 320px;
@mobile-width-max: 767px;
@tablet-width: 768px;
@tablet-width-max: 1439px;
@desktop-width: 1440px;

@mobile-max: ~"(max-width: @{mobile-width-max})";
@tablet: ~"(min-width: @{tablet-width})";
@tablet-max: ~"(max-width: @{tablet-width-max})";
@desktop: ~"(min-width: @{desktop-width})";

//Retina
@retina-dpi: 144dpi;
@retina: ~"(min-resolution: @{retina-dpi})";

//Font parameters
@baseFontSize: 14px;
@baseLineHeight: 18px;

@baseFontSize-tablet: 16px;
@baseLineHeight-tablet: 24px;
